1. What are data structures, and why are they important?
  - Data structures are specialized way of organizing and storing collection of data in a computer.
  - Data structure is important because of they are essential in programming, optimizing memory usage, improving performance, and simplifying complex operations

2. Explain the difference between mutable and immutable data types with examples?
  - **Mutable data** types are those whose values can be changed after they are created. This means you can modify the internal state of the object without creating a new one. But **Immutable data** types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value.

3. What are the main differences between lists and tuples in Python?
  - **Lists** are mutable. i can modify a list after it's create. This means I can add, remove, and change elements within the list. It is define using square bracket `[]`. for example:

    `my_list = [1, 2, 'mango', true, 2.5]`
  - **Tuples** are immutable. if tuple is created, We Cann't change, add and remove it's elements. This makes tuple useful for storing data that should not be modified. It is define using parentheses `()`. for example

    `my_tuple = (100, 200, 'apple', 2.5)`

4. Describe how dictionaries store data?
  - A dictionary is a data structure that stores the value in key: value pairs. It is a collection which is ordered, changeable and do not allow duplicates. They are written with curly brackets `{}`, and have keys and values. for example

    `my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}`

5. Why might you use a set instead of a list in Python?
  - Set need to store a collection of items where each item must be unique (no duplicates). If element is already present then duplicate value discard. If we try to add an element that already exists in the set, the set simply ignores that addition. It doesn't raise an error or change its structure. Example:

    `my_set = {1,2,2,3,3,4,5}`
  
    then output:
  
    `{1,2,3,4,5}`

6. What is a string in Python, and how is it different from a list?
  - A **string** is a sequence of characters. It is immutable data structure means cann't change be change after created. We an be created using either single `‘` or double `“` quotes.
  - **List** s are mutable means we can change, add, or remove element after it's created. but **string** can't changed after it's created.
  - **Strings** Are used to represent text or character data. but **Lists** Are used to represent an ordered collection of items, which can be of any data type.


7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity is through their immutable. if tuple is created, we Cann't change, add and remove it's elements. This makes tuple useful for storing data that should not be modified.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that provides a way to store and retrieve data very efficiently. It's designed for fast lookups, insertions, and deletions of key-value pairs. it is also known as a hash map.
 - In Python, dictionaries are implemented using hash tables. This means that the underlying mechanism for how dictionaries store and retrieve data is based on hash tables. It provides very fast lookups, insertions, and deletions is because of the hash table implementation.

9. Can lists contain different data types in Python?
 - Yes lists can contain different data types in Python. we can mix strings, numbers (integers, floats), booleans, and even other data structures (like lists, tuples, set, or dictionaries) within a single list. Example

    `my_list = [1, 2, 'mango', True, 2.5]`

10. Explain why strings are immutable in Python?
 - Strings are “immutable” because they cann't be changed after they are created.

11. What advantages do dictionaries offer over lists for certain tasks?
 - The primary advantage of dictionaries over lists is their ability to provide fast value retrieval using unique keys. This results in significantly faster data access, especially when dealing with large datasets. Dictionaries offer an average time complexity of O(1) for lookups, while lists require O(n) time complexity.

12. Describe a scenario where using a tuple would be preferable over a list.
 - Scenario Storing data that should not be modified. Tuples ensure data integrity is through their immutable. if tuple is created, we Cann't change, add and remove it's elements. This makes tuple useful for storing data that should not be modified.

13. How do sets handle duplicate values in Python?
 - Set can only contain unique elements. if element is already present then duplicate value discard. If we try to add an element that already exists in the set, the set simply ignores that addition. It doesn't raise an error or change its structure. Example

      ![set.jpg]()

14. How does the “in” keyword work differently for lists and dictionaries?
 - The `in` keyword is used to check for membership. When we use in with a **list**, Python checks if a specific value is present in the list. and When we use in with a **dictionary**, Python checks if a specific key is present in the dictionary. It does not check for values.

15. Can you modify the elements of a tuple? Explain why or why not.
 - No I cann't modify the elements of a tuple after it's create because it is immutable data structure. If i try to directly modify an element in tuple, python will raise a `TypeError`

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. When you need to represent complex and hierarchical data, nested dictionaries come in handy. Example

      `my_dict = {'dict1':{'name': 'John', 'age': 25},`
    `'dict2':{'name': 'Alice', 'age': 30}}`
    
      `my_dict`

        output:

        `{'dict1':{'name': 'John', 'age': 25},'dict2':{'name': 'Alice', 'age': 30}}`

17. Describe the time complexity of accessing elements in a dictionary.
 - Dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.

18. In what situations are lists preferred over dictionaries.
 - Lists are mutable, meaning you can change, add, or remove elements after the list is created. If you need to modify the collection frequently, lists are preferable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are unordered, because we cannot access elements by a numerical index like my_dict[0]. You must use the key `my_dict[key]` to get the corresponding value. We can't use positional indexing but allows for very fast data retrieval using keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - **Lists** are ordered collections of items and each item is assigned to an index value starting from 0. It is mutable, hence the elements can be modified after their creation. I have to use square brackets `[]`. for example :

      `my_list = [1, 2, 'apple', 2.5, True]`

 - A **dictionary** is an unordered collection of data in the key: value pair form. It is also mutable. I can change the key-value pair after creating the dictionary. I have to use `{}`. for example :

      `my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}`

In [ ]:
# 1. Write a code to create a string with your name and print it.
my_name = "Muskan Singh"
print(my_name)

Muskan Singh

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(f'The length of string "{string}" is {len(string)}')

The length of string "Hello World" is 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
String = "Python Programming"
print(f'The first 3 characters of string "{String}" is "{String[:3]}"')

The first 3 characters of string "Python Programming" is "Pyt"

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(f'The String "{string}" to uppercase is "{string.upper()}"')

The String "hello" to uppercase is "HELLO"

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(f'The string after replacing "apple" with "orange" is "{string.replace("apple", "orange")}"')

The string after replacing "apple" with "orange" is "I like orange"

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1,2,3,4]
print(f'The list before appending 10 is {lst}')
lst.append(10)
print(f'The list after appending 10 is {lst}')

The list before appending 10 is [1, 2, 3, 4]
The list after appending 10 is [1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
List = [1, 2, 3, 4, 5]
List.remove(3)
List

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
L1 = ['a', 'b', 'c', 'd']
second_element = L1[1]
print(f"Second element in the list is '{second_element}'")

Second element in the list is 'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
print(f'Before reversing the list {lst}')
lst.reverse()
print(f'After reversing the list {lst}')

Before reversing the list [10, 20, 30, 40, 50]
After reversing the list [50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
Tuple = (100, 200, 300)
print(Tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(f'The second-to-last element of the tuple is "{t[-2]}"')

The second-to-last element of the tuple is "blue"

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
Tuple = (10, 20, 5, 15)
print(f'The minimum number in the tuple is {Tuple}')

The minimum number in the tuple is (10, 20, 5, 15)

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
T1 = ('dog', 'cat', 'rabbit')
print(f'The index of the element "cat" in the tuple is {T1.index("cat")}')

The index of the element "cat" in the tuple is 1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit = ("apple", "banana", "orange")
'kiwi' in fruit

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Set = {'a','b','c'}
print(Set)

{'b', 'a', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
print(f'Before clearing the set {s}')
s.clear()
print(f'After Clearing the set {s}')

Before clearing the set {1, 2, 3, 4, 5}
After Clearing the set set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
print(f'Before removing the element 4 from the set is {s}')
s.remove(4)
print(f'After removing the element 4 from the set is {s}')

Before removing the element 4 from the set is {1, 2, 3, 4}
After removing the element 4 from the set is {1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(f'The union of two sets {s1} and {s2} is {s1.union(s2)}')

The union of two sets {1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(f'The intersection of two sets {s1} and {s2} is {s1.intersection(s2)}')

The intersection of two sets {1, 2, 3} and {2, 3, 4} is {2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"Muskan", "age": 26, "city": "Mumbai"}
print(my_dict)

{'name': 'Muskan', 'age': 26, 'city': 'Mumbai'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
Dict = {'name': 'John', 'age': 25}
print(f'Before adding "country" : "USA" to the dictionary {Dict}')
Dict["country"] = "USA"
print(f'After adding "country" : "USA" to the dictionary {Dict}')

Before adding "country" : "USA" to the dictionary {'name': 'John', 'age': 25}
After adding "country" : "USA" to the dictionary {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(f'The value associated with the key "name" in the dictionary is {d["name"]}')

The value associated with the key "name" in the dictionary is Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(f'Before removing the key "age" from the dictionary is {my_dict}')
del my_dict["age"]
print(f'After removing the key "age" from the dictionary is {my_dict}')

Before removing the key "age" from the dictionary is {'name': 'Bob', 'age': 22, 'city': 'New York'}
After removing the key "age" from the dictionary is {'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d1 = {'name': 'Alice', 'city': 'Paris'}
"city" in d1

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, "apple", 2, 4.5, True, (1,2,3)]
tpl = (1, 6, "hello", 5, 7, 9)
dct = {"name":"Muskan", "age": 26, "city": "Mumbai"}
print(f'The list is {lst}')
print(f'The tuple is {tpl}')
print(f'The dictionary is {dct}')

The list is [1, 'apple', 2, 4.5, True, (1, 2, 3)]
The tuple is (1, 6, 'hello', 5, 7, 9)
The dictionary is {'name': 'Muskan', 'age': 26, 'city': 'Mumbai'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = [random.randint(1,100) for i in range(5)]
print(f'Before sorting the list is {lst}')
lst.sort()
print(f'After sorting the list is {lst}')

Before sorting the list is [22, 75, 99, 69, 71]
After sorting the list is [22, 69, 71, 75, 99]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
List = ["apple", "banana", "orange", "grape", "mango"]
print(f'The element at the third index is "{List[2]}"')

The element at the third index is "orange"

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1 = {'name': 'John', 'age': 25}
d2 = {"city": "Mumbai","country":"India"}
d1.update(d2)
print(d1)

{'name': 'John', 'age': 25, 'city': 'Mumbai', 'country': 'India'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
List = ["apple", "banana", "orange", "grape", "mango"]
s = set(List)
print(s)

{'mango', 'banana', 'orange', 'grape', 'apple'}